/* Resets - See https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Demo CSS */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --main-bg-color: #f8fafc;
  --main-color: #000;

  --container-bg-color: #e2e8f0;
  --input-border-color: #cbd5e1;

  --btn-bg-color: #4f46e5;
  --btn-bg-color__hover: #4338ca;
  --btn-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Elements */

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  width: 100%; 
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  border: 1px solid var(--input-border-color);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.25s;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--btn-bg-color);
  color: var(--btn-color);
}
button:hover {
  background-color: var(--btn-bg-color__hover);
}

/* Layout */

.logo {
  width: 1280px;
  margin: 0 auto;
  padding-top: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo > .icon {
  width:30px; 
  height:30px;
}

.logo > .text {
  font-size: 18px;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
  padding-top: 20px;
  display: grid;
  row-gap: 25px;
}

.two-col-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  align-items: end;
  column-gap: 20px;
  row-gap: 20px;
}

.three-col-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto auto;
  align-items: end;
  column-gap: 20px;
}

.col-start-2 {
  grid-column-start: 2;
}

.col-span-2 {
  grid-column: span 2;
}

.box {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  padding: 50px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: var(--container-bg-color);
}

/* Utilities */

.spinner {
  height: 1.5em;
  width: 1.5em;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.errors {
  text-align: center;
  margin-top: 10px;
  color: red;
}

/* Dark mode */

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #020617;
    --main-color: #fff;

    --container-bg-color: #1e293b;
    --input-border-color: #334155;

    --btn-bg-color: #6366f1;
    --btn-bg-color__hover: #4f46e5;
    --btn-color: #fff;
  }

  input:not(input:-webkit-autofill)::-webkit-contacts-auto-fill-button {
    background-color: #fff;
  }
}